:root {
  --dark-grey: rgb(23, 23, 23);
  --light-grey: rgb(52, 52, 52);
  --white: rgb(233, 233, 233);
}
@font-face {
  font-family: "norse";
  src: url(assets/fonts/Norse-Bold.otf);
}

body {
  margin: auto;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebar {
  padding: 20px;
  background-color: var(--dark-grey);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "norse";
  font-size: 80px;
  color: var(--white);
}

.toDos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  padding: 150px 50px 50px 50px;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  flex-basis: 100px;
}

.toDo {
  font-size: 35px;
  padding: 5px;
  display: flex;
  gap: 20px;
}

.toDoCheckbox {
  font-size: 40;
}

.btnAddToDo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 20px;
  color: var(--white);
  background-color: var(--light-grey);
  border: none;
  border-radius: 50px;
}

dialog {
  background-color: var(--dark-grey);
  border: none;
  border-radius: 10px;
  padding: 25px;
}

form {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p > input,
.formButtons > button {
  outline: none;
  border: solid var(--light-grey);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: var(--white);
  background-color: var(--dark-grey);
  border-color: var(--light-grey);
  border-radius: 10px;
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.formButtons > button {
  width: 120px;
  height: 60px;
  padding: 5px;
  color: var(--white);
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
}

.projectList {
  display: flex;
  margin-top: 100px;
}

.project {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  background-color: var(--light-grey);
  color: white;
  border-radius: 5px;
  padding: 20px;
  width: 193.2px;
}
